body {
    height: auto;
}

ui-helper-hidden-accessible {
    position: absolute !important;
}

.red {
    background: red;
}

.align-center {
    padding: 0 48%;
}

.row .padding-lr {
    margin-top: 15px;
}

header,
.welcome-role,
.menu-list {
    text-align: center;
}

.welcome-role {
    font-weight: 600;
    color: #A856AA;
}

.menu-list li {
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
}

.menu-list li a {
    color: #9DC259;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.menu-list li a:hover {
    color: lightblue;
}

header {
    color: #CD752E;
}

.home-title {
    padding: 15px 10px;
}

.status {
    padding: 0 0 0 15px;
}

.demo {
    background-color: #cccccc;
    margin-top: 40px;
    margin-left: 0px;
}

.demo #content {
    padding: 30px;
    border: 1px solid #999999;
}

.main-content-holder {
    background: #999999;
    height: 725px;
}

.page {
    bottom: 0;
    position: absolute;
    top: 85%;
    width: 100%;
    border-radius: 15px;
    background: #fffddb;
    border: 3px solid #f5f3bb;
}

.page-ccd1607,
.page-ccd1610,
.page-ccd1702,
.page-home {
    background: #fffddb;
    border-radius: 10px;
}

.page-home {
    color: #00907c !important;
}

.page-ccd1610 {
    color: #00907c !important;
}

.page-ccd1607 {
    color: #a55400 !important;
}

.page-ccd1702 {
    color: #9e0000 !important;
}

.page.ng-leave {
    z-index: 9999;
}

.page.ng-enter {
    z-index: 8888;
}


/* ccd1607 -------------------------- */


/*.page-ccd1607.ng-leave,
.page-ccd1610.ng-leave,
.page-ccd1702.ng-leave {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: rotateFall 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: rotateFall 1s both ease-in;
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}

.page-ccd1607.ng-enter,
.page-ccd1610.ng-enter,
.page-ccd1702.ng-enter {
    -webkit-animation: scaleUp 0.5s both ease-in;
    -moz-animation: scaleUp 0.5s both ease-in;
    animation: scaleUp 0.5s both ease-in;
}*/


/* ccd1610 ------------------------ */

.page-ccd1607.ng-leave,
.page-ccd1610.ng-leave,
.page-ccd1702.ng-leave,
.page-home.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}

.page-ccd1607.ng-enter,
.page-ccd1610.ng-enter,
.page-ccd1702.ng-enter,
.page-home.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}


/* ccd1702 ---------------------- */


/*.page-ccd1702.ng-leave {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateOutNewspaper .5s both ease-in;
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateOutNewspaper .5s both ease-in;
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}

.page-ccd1702.ng-enter {
    -webkit-animation: slideInUp 0.5s both ease-in;
    -moz-animation: slideInUp 0.5s both ease-in;
    animation: slideInUp 0.5s both ease-in;
}*/


/* rotate and fall */


/*@-webkit-keyframes rotateFall {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
    }
    60% {
        -webkit-transform: rotateZ(16deg);
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
    }
}

@-moz-keyframes rotateFall {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    20% {
        -moz-transform: rotateZ(10deg);
        -moz-animation-timing-function: ease-out;
    }
    40% {
        -moz-transform: rotateZ(17deg);
    }
    60% {
        -moz-transform: rotateZ(16deg);
    }
    100% {
        -moz-transform: translateY(100%) rotateZ(17deg);
    }
}

@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}
*/


/* scale up */

@keyframes scaleUp {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }
}

@-moz-keyframes scaleUp {
    from {
        opacity: 0.3;
        -moz-transform: scale(0.8);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}


/* slide in from the bottom */


/*@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@-moz-keyframes slideInUp {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}*/


/* slide in from the bottom */

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}


/* rotate out newspaper */


/*@-webkit-keyframes rotateOutNewspaper {
    to {
        -webkit-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@-moz-keyframes rotateOutNewspaper {
    to {
        -moz-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}*/

.module-list {
    color: #008080;
}

.module-list ul {
    padding-left: 0px;
}

.module-list ul li {
    list-style: none;
}

.disabled {
    background: #dddddd;
    color: #0c0c0c !important;
    padding: 10px;
    height: 250px;
}

.logs-grid {
    color: #00907c !important;
    padding: 0 15px;
}

.logs-grid li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    background: rgba(245, 244, 244, 0.86);
    border-radius: 5px;
    border: 5px solid rgba(255, 255, 255, .2);
}

.logs-grid li a {
    cursor: pointer;
}

.gridStyle {
    background: #fff;
}

.active-component {
    text-decoration: underline;
}


/* setup tooltips */


/*.tt:hover:before {
    background: rgba(0, 0, 0, .75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    white-space: nowrap;
}*/

.log-title {
    color: #9b4401;
    padding-left: 25px;
    font-weight: 600;
}

.test-button {
    margin: 0 auto;
    display: block;
}

.green-sign,
.red-sign,
.orange-sign {
    font-family: "Glyphicons Halflings";
    padding: 5px;
}

.green-sign::after {
    content: "\e084";
    color: green;
}

.red-sign::after {
    content: "\e083";
    color: red;
}

.orange-sign::after {
    content: "\e209";
    color: darkorange;
}

.site-label {
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}


/*.flip-container */

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.flip-container.clicked .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container.clicked .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container {
    position: relative;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    display: inline-block;
}

.front-title-green,
.front-title-green-lite,
.front-title-mustard,
.front-title-mustard-lite,
.front-title-red,
.front-title-red-lite,
.front-title-purple,
.front-title-purple-lite {
    color: #ffffff;
    padding: 5px 0 5px 5px;
    margin-top: 5px;
    font-size: 18px;
}

.front-title-green {
    background: #7fb800;
}

.front-title-green-lite {
    background: #99db00;
}

.front-title-mustard {
    background: #ffb400;
}

.front-title-mustard-lite {
    background: #ffc849;
}

.front-title-red {
    background: #e71f1f;
}

.front-title-red-lite {
    background: #f75d5d;
}

.front-title-purple {
    background: #ac5683;
}

.front-title-purple-lite {
    background: #d673a6;
}

.frontholder,
.backholder {
    position: absolute;
    top: 0;
    width: 100% !important;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.top-space {
    margin-top: 25px;
}

.padding-lr {
    padding-left: 15px;
    padding-right: 15px;
}