<div>
    <!--<div>
        <md-switch class="align-center" ng-click="flipOption()" ng-model="data.s" ng-true-value="'Site 1'" ng-false-value="'Site 2'" class="md-warn">

            <label class="site-label">{{data.s}}</label>
        </md-switch>
    </div>-->
    <!--<div class="flip-container" ng-class="{'clicked': flip}">
        <div class="flipper">-->

    <!--</div>
    </div>-->
    <!--<div class="flip-container" ng-class="{'clicked': flip}">
        <div class="flipper">
            <div class="backholder">-->
    <div>
        <!--<p class="site-label" ng-model="site2">Site 2</p>-->
        <section class="row padding-lr">
            <section class="col-md-3 module-list">

                <h3 class="front-title-green">1607 CCD DEV Site 1</h3>
                <ul ng-show="ccdmodules['dev'].length">
                    <li ng-repeat="ccdmodule in ccdmodules['dev']" ng-model="logged " ng-init="logged=false ">
                        <input type="checkbox">
                        <a class="tt-dribbble" ui-sref="logs.component({releaseNumber: '1607', env: 'dev', component: ccdmodule.component})" tittle="{{ccdmodule.description}} " ng-click="logged=true ">
                            <i ng-class="{ 'green-sign':ccdmodule.status==='OK' , 'red-sign': ccdmodule.status==='Fail' , 'orange-sign': ccdmodule.status==='notsure' } "></i> {{ccdmodule.component}}<span></span>
                        </a>

                    </li>
                    <button class="test-button">Test</button>
                </ul>

                <div ng-show="errorOccured['dev']" class="disabled">This is under construction.</div>


            </section>
            <section class="col-md-3 module-list">
                <h3 class="front-title-mustard">1607 CCD IST Site 1</h3>
                <ul ng-show="ccdmodules['ist'].length">
                    <li ng-repeat="ccdmodule in ccdmodules['ist']" ng-model="logged " ng-init="logged=false ">
                        <input type="checkbox">

                        <a ui-sref="logs.component({releaseNumber: '1607', env: 'ist', component: ccdmodule.component})" tittle="{{ccdmodule.description}} " ng-click="logged=true ">
                            <i ng-class="{ 'green-sign':ccdmodule.status==='OK' , 'red-sign': ccdmodule.status==='Fail' , 'orange-sign': ccdmodule.status==='notsure' } "></i> {{ccdmodule.component}}
                        </a>

                    </li>
                    <button class="test-button">Test</button>
                </ul>
                <div ng-show="errorOccured['ist']" class="disabled">This is under construction.</div>


            </section>
            <section class="col-md-3 module-list ">
                <h3 class="front-title-red">1607 CCD E2E Site 1</h3>
                <ul ng-show="ccdmodules['e2e'].length">
                    <li ng-repeat="ccdmodule in ccdmodules['e2e'] " ng-model="logged " ng-init="logged=false ">
                        <input type="checkbox">

                        <a ui-sref="logs.component({releaseNumber: '1607', env: 'e2e', component: ccdmodule.component})" tittle="{{ccdmodule.description}} " ng-click="logged=true ">
                            <i ng-class="{ 'green-sign':ccdmodule.status==='OK' , 'red-sign': ccdmodule.status==='Fail' , 'orange-sign': ccdmodule.status==='notsure' } "></i> {{ccdmodule.component}}
                        </a>

                    </li>
                    <button class="test-button">Test</button>
                </ul>
                <div ng-show="errorOccured['e2e']" class="disabled">This is under construction.</div>

            </section>
            <section class="col-md-3 module-list">
                <h3 class="front-title-purple">1607 CCD Production Site 1</h3>
                <ul ng-show="ccdmodules['pvt'].length">
                    <li ng-repeat="ccdmodule in ccdmodules['pvt'] " ng-model="logged " ng-init="logged=false ">
                        <input type="checkbox">

                        <a ui-sref="logs.component({releaseNumber: '1607', env: 'pvt', component: ccdmodule.component})" tittle="{{ccdmodule.description}} " ng-click="logged=true ">
                            <i ng-class="{ 'green-sign':ccdmodule.status==='OK' , 'red-sign': ccdmodule.status==='Fail' , 'orange-sign': ccdmodule.status==='notsure' } "></i> {{ccdmodule.component}}
                        </a>

                    </li>
                    <button class="test-button">Test</button>
                </ul>
                <div ng-show="errorOccured['pvt']" class="disabled">This is under construction.</div>

            </section>
        </section>


        <!--</div>
        </div>-->
    </div>
    <div>

        <section class="row padding-lr">
            <!--<p class="site-label" ng-model="site1">Site 1</p>-->
            <section class="col-md-3 module-list">

                <h3 class="front-title-green-lite">1607 CCD DEV Site 2</h3>
                <!--<ul class="tt-wrapper" ng-show="ccdmodules['dev'].length">
                    <li ng-repeat="ccdmodule in ccdmodules['dev']" ng-model="logged " ng-init="logged=false ">
                        <input type="checkbox">
                        <!--<a class="tt-dribbble" ui-sref="logs.component({releaseNumber: '1607', env: 'dev', siteOption: 'site1',  component: ccdmodule.component})" tittle="{{ccdmodule.description}} " ng-click="logged=true ">-->

                <!--<a class="tt-dribbble" ui-sref="logs.component({releaseNumber: '1607', env: 'dev',  component: ccdmodule.component})" tittle="{{ccdmodule.description}} " ng-click="logged=true ">
                    <i ng-class="{ 'green-sign':ccdmodule.status==='OK' , 'red-sign': ccdmodule.status==='Fail' , 'orange-sign': ccdmodule.status==='notsure' } "></i> {{ccdmodule.component}}<span></span>
                </a>

                </li>
                </ul>-->
                <div ng-show="errorOccured['pvt']" class="disabled">This is under construction.</div>

            </section>
            <section class="col-md-3 module-list">
                <h3 class="front-title-mustard-lite">1607 CCD IST Site 2</h3>
                <div ng-show="errorOccured['pvt']" class="disabled">This is under construction.</div>

            </section>
            <section class="col-md-3 module-list">
                <h3 class="front-title-red-lite">1607 CCD E2E Site 2</h3>
                <div ng-show="errorOccured['pvt']" class="disabled">This is under construction.</div>

            </section>
            <section class="col-md-3 module-list">
                <h3 class="front-title-purple-lite">1607 CCD Production Site 2</h3>
                <div ng-show="errorOccured['pvt']" class="disabled">This is under construction.</div>

            </section>

        </section>
    </div>
    <div class="align-center">
        <button class="btn btn-warning top-space">Check Config</button>
    </div>
</div>