<div>
    <div>
        <md-switch class="align-center" ng-click="flipOption()" ng-model="data.s" ng-true-value="'Site 1'" ng-false-value="'Site 2'" class="md-warn">

            <label class="site-label">{{data.s}}</label>
        </md-switch>
    </div>
    <div class="flip-container" ng-class="{'clicked': flip}">
        <div class="flipper">
            <div class="frontholder">
                <section class="col-md-3 front" style="background: red; ">
                    <p>col 1</p>
                </section>
                <section class="col-md-3 front" style="background: black; ">
                    <p>col 2</p>
                </section>
                <section class="col-md-3 front" style="background: green; ">
                    <p>col 3</p>
                </section>
                <section class="col-md-3 front" style="background: yellow; ">
                    <p>col 4</p>
                </section>

            </div>
        </div>
    </div>
    <div class="flip-container" ng-class="{'clicked': flip}">
        <div class="flipper">
            <div class="backholder">

                <section class="col-md-3 module-list back" style="background: yellowgreen;">
                    <h3>1607 CCD DEV</h3>
                    <ul class="tt-wrapper">
                        <li ng-repeat="ccdmodule in ccdmodules " ng-model="logged " ng-init="logged=false ">
                            <a class="tt-dribbble" ui-sref=".logs " target="_blank " data-title="{{ccdmodule.description}} " ng-click="logged=true ">
                                <i ng-class="{ 'green-sign':ccdmodule.working==='yes' , 'red-sign': ccdmodule.working==='no' , 'orange-sign': ccdmodule.working==='notsure' } "></i> {{ccdmodule.name}}<span></span>
                            </a>

                        </li>
                    </ul>

                    <button class="test-button">Test</button>
                </section>
                <section class="col-md-3 module-list back" style="background: blue;">
                    <h3>1607 CCD IST</h3>
                    <ul>
                        <li ng-repeat="ccdmodule in ccdmodules " ng-model="logged " ng-init="logged=false ">
                            <a ui-sref=".logs " target="_blank " title="{{ccdmodule.description}} " ng-click="logged=true ">
                                <i ng-class="{ 'green-sign':ccdmodule.working==='yes' , 'red-sign': ccdmodule.working==='no' , 'orange-sign': ccdmodule.working==='notsure' } "></i> {{ccdmodule.name}}
                            </a>

                        </li>
                    </ul>
                    <button class="test-button">Test</button>
                </section>
                <section class="col-md-3 module-list back" style="background: mediumorchid;">
                    <h3>1607 CCD E2E</h3>
                    <ul>
                        <li ng-repeat="ccdmodule in ccdmodules " ng-model="logged " ng-init="logged=false ">
                            <a ui-sref=".logs " target="_blank " title="{{ccdmodule.description}} " data-toggle="tooltip " ng-click="logged=true ">
                                <i ng-class="{ 'green-sign':ccdmodule.working==='yes' , 'red-sign': ccdmodule.working==='no' , 'orange-sign': ccdmodule.working==='notsure' } "></i> {{ccdmodule.name}}
                            </a>

                        </li>
                    </ul>
                    <button class="test-button">Test</button>
                </section>
                <section class="col-md-3 module-list back" style="background: tan;">
                    <h3>1607 CCD Production</h3>
                    <ul>
                        <li ng-repeat="ccdmodule in ccdmodules " ng-model="logged " ng-init="logged=false ">
                            <a ui-sref=".logs " target="_blank " title="{{ccdmodule.description}} " data-toggle="tooltip " ng-click="logged=true ">
                                <i ng-class="{ 'green-sign':ccdmodule.working==='yes' , 'red-sign': ccdmodule.working==='no' , 'orange-sign': ccdmodule.working==='notsure' } "></i> {{ccdmodule.name}}
                            </a>

                        </li>
                    </ul>
                    <button class="test-button">Test</button>
                </section>
            </div>
        </div>
    </div>
</div>