<div>

    <div class="gridStyle" ui-grid="gridOptions">
    </div>
    <br>

    <div class="row">
        <section class="col-md-4">
            <div>Log file: {{logFileName}} <a href="{{logFileLink}}" target="blank" class="btn btn-default">Download file</a>
                <button class="btn btn-warning "><a href="http://mtanjv9ccda01.aic.cip.att.com:8445/generateRawLogs/January%202,%202010/1610/IST/blueprint" target="_blank">RAW</a></button>
                <!--<button style="background: red;" ng-click="collapseDirective = !collapseDirective">time</button>
        <div rg-range-picker="myDatetimeRange" collapse="collapseDirective" labels="myDatetimeLabels"></div>-->
                <!--<button ng-click="collapseDirective = !collapseDirective">time</button>
        <div rg-range-picker="myDatetimeRange" collapse="collapseDirective" labels="myDatetimeLabels"></div>-->
                <!--<div class='input-group date' id='startDate'>
            <input type='text' class="form-control" name="startDate" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>-->
            </div>
        </section>
        <section class="col-md-4">
            <!--<div class='input-group date' id='datetimepicker1' ng-click="date()">
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>-->
            <div class="range layout-column">
                <md-input-container class="md-input-has-placeholder">
                    <label>Start Date/Time</label>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" placeholder="Date" max-date="dateTimeEnd" ng-model="dateTimeStart" class=" md-input" id="input_0">
                </md-input-container>
            </div>
        </section>
        <section class="col-md-1">
            <button class="btn btn-info">Get logs</button>
        </section>
    </div>
</div>
<!--<script type="text/javascript">
    $(document).ready(function() {
        $("#datetimepicker1").datetimepicker();
    });
</script>-->