<div class="row">
    <header>
        <section class="col-md-12">
            <h1>CCD Status Dashboard</h1>
        </section>
    </header>

</div>
<div class="row">
    <section class="col-md-12 welcome-role">
        <p>Welcome, Admin <a href="#">Logout</a></p>
    </section>
</div>
<div class="row">
    <section class="col-md-12">
        <ul class="menu-list">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="1702">CCD 1702</a></li>
            <li><a ui-sref="1610">CCD 1610</a></li>
            <li><a ui-sref="1607">CCD 1607</a></li>
        </ul>
    </section>
</div>