<div>

    <h3 class="log-title">Logs</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="logs-grid">
                    <li ng-repeat="component in components">
                        <a ui-sref="logs.component({releaseNumber: 1702, env: 'DEV', component: component.componentName})">{{component.componentName}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>