<div>

    <h3 class="log-title">Logs <small>{{releaseNumber}} - {{env}}</small></h3>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="logs-grid">

                    <!--<pre>{{components}}</pre>-->
                    <li ng-repeat="component in components.components" style="color: red;">
                        <a ui-sref="logs.component({releaseNumber: releaseNumber, env: env, component: component.component})" ui-sref-active="active-component">{{component.component}}</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-9">

                <div ui-view></div>
            </div>


        </div>
    </div>
</div>